---
import { Head } from "astro-capo";

import "@Function/Stylesheet/Inner.css";

import Meta from "@Function/Meta.astro";
---

<!doctype html>
<html lang="en" class="no-js" dir="ltr">
	<Head>
		<Meta />

		<link
			rel="manifest"
			href="/site.webmanifest"
			crossorigin="use-credentials"
		/>

		<style is:global>
			@import "@Function/Stylesheet/Transparent.css";
		</style>

		<slot name="StyleHead" />

		<slot name="ScriptHead" />
	</Head>
	<body>
		<slot />

		<script>
			import "@Function/API.js";
		</script>
	</body>
</html>
