---
import Layout from "@Layout/Base.astro";
---

<Layout>
	<div class="grow p-5 text-center">
		<ul class="flex">
			<li class="px-5">
				<a href="/Editor">Editor</a>
			</li>
			<li class="px-5">
				<a href="/VSCode">Vanilla VSCode</a>
			</li>
		</ul>
	</div>
</Layout>
